# temporary ignoring
faq.json

# editor settings
.idea/
.vscode/

# dot files
.*ignore
.*rc
.editorconfig
.tsbuildinfo
.gitkeep

# repository commons
LICENSE
CNAME

# Ruby
Gemfile
Gemfile.lock

# project directory
lib/
coverage/
_site/
assets/

# Vagrant
Vagrantfile
.vagrant/
