<!doctype html>

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1" />
    <title>{{ site.title }}</title>
    <meta
      name="description"
      content="{{ site.description | strip_newlines }}"
    />
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css" />
  </head>
  <body class="layout-simple">
    <header>{% include header.html %}</header>
    {{ content }}
    <footer>{% include footer.html %}</footer>
  </body>
</html>
